@charset "utf-8";
@import "../_parameter";
$drawer_item_width: 140px;
$drawer_item_height: 44px;
$col_default_position: 150px;
$row_default_position: 60px;
$drawer_breakpoint: $sp;
// common
.drawer-btn {
	padding: 10px 0;
	display: block;
	height: $drawer_item_height;
	width: 100%;
	z-index: 1000;
}

.drawer-cat {
	height: $drawer_item_height;
	width: $drawer_item_width;
}

.drawer-item-container {
	display: block;
	width: 100%;
	min-height: $drawer_item_height;
}

// drawer-left
.drawer-left {
	position: relative;
}

.drawer-left .btn-burg {
	position: absolute;
	left: 0;
}

.drawer-left .drawer-container {
	position: absolute;
	width: $drawer_item_width;
	left: -#{$col_default_position};
	top: $drawer_item_height;
	
	&.dep-visible {
		left: 0;
	}
	
	drawer-cat {
		position: relative;
		width: 100%;
	}
	
	.drawer-item {
		width: $drawer_item_width;
		min-height: $drawer_item_height;
		position: relative;
		left: -#{$col_default_position};
		top: -#{$drawer_item_height};
	}
	
	.dep-visible2 .drawer-item {
		left: $drawer_item_width;
	}
}

// drawer-right
.drawer-right {
	position: relative;
	text-align: right;
}

.drawer-right .btn-burg {
	position: absolute;
	right: 0;
	&.dep-visible {
		transform: rotate(180deg);
	}
}

.drawer-right .drawer-container {
	position: absolute;
	width: $drawer_item_width;
	right: -#{$col_default_position};
	top: $drawer_item_height;
	
	&.dep-visible {
		right: 0;
	}
	
	drawer-cat {
		position: relative;
		right: -#{$col_default_position};
		width: 100%;
	}
	
	.drawer-item {
		width: $drawer_item_width;
		min-height: $drawer_item_height;
		position: relative;
		right: -#{$col_default_position};
		top: -#{$drawer_item_height};
	}
	
	.dep-visible2 .drawer-item {
		right: $drawer_item_width;
	}
}

// drawer-top
.drawer-top {
		position: relative;
	}
	
.drawer-top .drawer-container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: table;
	table-layout: fixed;

	> .drawer-cat {
		display: table-cell;
		text-align: center;
		position: relative;
	}

	.drawer-item-container {
		position: absolute;
		bottom: 100%;
	}

	.dep-visible .drawer-item-container {
		top: 0;
	}

	.drawer-item {
		text-align: left;
		width: 100%;
		position: static;
		top: 0;
		left: 0;
	}
	.dep-visible2 .drawer-item-container {
		top: 100%;
	}
}

// .drawer-wide

@media screen and (min-width:$drawer_breakpoint) {
	// .drawer-wide-top
	.drawer-widt-top {
		position: relative;
	}
	
	.drawer-wide-top .drawer-container{
		position: static;
		left: 0;
		top: 0;
		width: 100%;
		display: table;
		table-layout: fixed;
		
		> .drawer-cat {
			display: table-cell;
			text-align: center;
			position: relative;
		}
		
		.drawer-item-container {
			position: absolute;
			bottom: 100%;
		}
		
		.dep-visible .drawer-item-container {
			top: 0;
		}
		
		.drawer-item {
			text-align: left;
			width: 100%;
			position: static;
			top: 0;
			left: 0;
		}
		.dep-visible2 .drawer-item-container {
			top: 100%;
		}
	}
	
}