@charset "utf-8";
@import "../_parameter";

$burg_list_height: 40px;
$menu_width: 150px;

/* メニューの配置 */
.gnav {
	position: absolute;
	top: 0;
	left: 0;
}
/* ハンバーガーボタンのデザイン */
.burg {
	display: block;
	width: $header-item;
	height: $header-item;
	margin: 0;
	background-color: $color_main;
	position: relative;
	border-radius: 6px;
	cursor: pointer;
}
.burg-inner, .burg-inner::before, .burg-inner::after {
	display: block;
	margin: 4px;
	width: $header-item - 12px;
	height: 4px;
	background-color: $color_text;
	position: absolute;
	border-radius: 4px;
}
.burg-inner {
	top: 14px;
	left: 2px;
	transition: transform 0.1s linear;
}
.burg-inner:before {
	content: " ";
	top: -16px;
	left: -4px;
	transition: width 0.1s linear;
	transition: top 0.1s linear;
}
.burg-inner:after {
	content: " ";
	left: -4px;
	bottom: -16px;
	transition: width 0.1s linear;
	transition: top 0.1s linear;
}

@media screen and (min-width:$tab) {
	.burg.sp {
		display: none;
	}
}

@media screen and (min-width:$pc) {
	.burg.tab {
		display: none;
	}
}

/* タップ時にアニメーションで矢印に変形させるギミック */
.visible .burg-inner {
	transform: rotate(360deg);
	transition: transform 0.1s linear;
}
.visible .burg-inner::before {
	transform: rotate(150deg);
	width: 25px;
	top: -10px;
	transition: width 0.1s linear;
	transition: top 0.1s linear;
}
.visible .burg-inner::after {
	transform: rotate(30deg);
	width: 25px;
	top: 1px;
	transition: width 0.1s linear;
	transition: top 0.1s linear;
}

/* メニューの開閉　1段目　左の画面外からアニメーションで引き出し表示 */
.toggle {
	position: relative;
}
.menu1 {
	position: absolute;
	width: $menu_width;
	left: -#{$menu_width};
	top: $header-height;
	text-align: left;
	background-color: #FFF;
	overflow: visible;
	transition: left 0.3s linear;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
.menu1.visible {
	left: 0;
	transition: left 0.3s linear;
}
/* メニューの開閉　2段目 */
.toggle2 {
	box-sizing: border-box;
	display: table;
	position: relative;
	height: 40px;
	width: 100%;
	padding: 0 4px;
	border-bottom: 1px solid #654d44;
	border-left: 1px solid #654d44;
	border-right: 1px solid #654d44;
}
.toggle2-inner {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	cursor: pointer;
}
.menu2 {
	position: absolute;
	left: -110%;
	width: 100%;
	border-top: 1px solid #654d44;
}
.menu2 li {
	display: table;
	width: 100%;
	height: 40px;
}
.menu2 li>a {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	background-color: #FFF;
	border-bottom: 1px solid #654d44;
	border-left: 1px solid #654d44;
	border-right: 1px solid #654d44;
	padding: 0 4px;
	text-decoration: none;
}
.visible2 .menu2 {
	left: 140px;
	margin-top: -1px;
}

@media screen and (min-width: $tab) {
	
}