@charset "UTF-8";
/* style base */
section {
  clear: both;
  padding-top: 10px;
}

code {
  overflow-x: scroll;
  font-size: 14px;
  font-family: Consolas, "Courier New", Courier, Monaco, monospace, "Osaka－等幅", Osaka-mono, "ＭＳ ゴシック", "MS Gothic";
  white-space: pre;
}

blockquote {
  margin: 10px;
  padding: 10px;
  border-left: #CCC 4px solid;
  color: #666;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}

.table-fix {
  table-layout: fixed;
}

thead {
  background-color: #FFB76E;
}

th, td {
  border: 1px solid #666;
  padding: 0 3px;
  empty-cells: show;
}

ul, ol {
  padding-left: 2em;
}

p {
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: #00D;
  text-decoration: none;
}
a:hover, a:active {
  opacity: 0.85;
  -ms-filter: "alpha(opacity=85)";
  border-bottom: 1px dashed;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 0.3em;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignleft {
  float: left;
  margin: 0 5px 0 0;
}

.alignright {
  float: right;
  margin: 0 0 0 5px;
}

@media screen and (min-width: 481px) {
  img.alignleft, img.alignright {
    max-width: 50%;
  }
}
.br {
  float: none;
  display: block;
  margin: 0;
}
.br::after {
  content: "\A";
  white-space: pre;
}

nav, nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

@media screen and (max-width: 768px) {
  .alignleft.br-tab, .alignright.br-tab {
    float: none;
    display: block;
    max-width: 100%;
    margin: 0;
  }
  .alignleft.br-tab::after, .alignright.br-tab::after {
    content: "\A";
    white-space: pre;
  }

  .tab-center, img.alignleft.tab-center, img.alignright.tab-center {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  img.alignleft, img.alignright {
    float: none;
    display: block;
    margin: 0;
    position: relative;
    right: 0;
  }
  img.alignleft::after, img.alignright::after {
    content: "\A";
    white-space: pre;
  }

  img.alignleft.br-no {
    float: left;
    display: inline;
    max-width: 50%;
    margin: 0 5px 0 0;
  }
  img.alignleft.br-no::after {
    content: "";
    white-space: pre;
  }

  img.alignright.br-no {
    float: right;
    display: inline;
    max-width: 50%;
    margin: 0 0 0 5px;
  }
  img.alignright.br-no::after {
    content: "";
    white-space: pre;
  }

  .sp-center, img.alignleft.sp-center, img.alignright.sp-center {
    display: block;
    margin: 0 auto;
  }
}
.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .container {
    padding: 0 5px;
  }
}
.clear {
  clear: both;
}

.clearfix {
  clear: both;
  content: " ";
  display: block;
  line-height: 0;
}

.list-style-none {
  list-style: none;
  padding: 0;
}

.textleft {
  text-align: left;
}

.textright {
  text-align: right;
}

.textcenter {
  text-align: center;
}

.textjustyfy {
  text-align: justify;
}

.caption {
  max-width: 100%;
  box-sizing: content-box;
  line-height: 1.2;
  display: block;
  margin-bottom: 10px;
}

.caption-img {
  display: inline-block;
  max-width: 100%;
}

.caption-img > img {
  max-width: 100%;
}

.caption-text {
  display: inline;
  font-size: 14px;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.middle-container {
  display: table;
}

.middle-item {
  display: table-cell;
  vertical-align: middle;
}

.tab, .pc {
  display: none;
}

.sp {
  display: block;
}

@media screen and (min-width: 481px) {
  .sp {
    display: none;
  }

  .tab {
    display: block;
  }

  .tab-none, .tab-none * {
    display: none !important;
  }
}
@media screen and (min-width: 769px) {
  .tab {
    display: none;
  }

  .pc {
    display: block;
  }

  .pc-none, .pc-none * {
    display: none !important;
  }
}
.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

/*# sourceMappingURL=base.css.map */
