/* base patch */
.container {
  min-width: 480px;
}

/* grid patch */
.flex-sp-eq, .flex-tab-eq, .flex-pc-eq {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.flex-sp-eq > *, .flex-tab-eq > *, .flex-pc-eq > * {
  display: table-cell;
}

.float, .flex, .flex-r {
  width: 101%;
  margin-left: -0.5%;
}
.float::after, .flex::after, .flex-r::after {
  clear: both;
  content: " ";
  display: block;
  line-height: 0;
}

.col-1, .col-pc-1, .col-tab-1, .col-sp-1, .col-2, .col-pc-2, .col-tab-2, .col-sp-2, .col-3, .col-pc-3, .col-tab-3, .col-sp-3, .col-4, .col-pc-4, .col-tab-4, .col-sp-4, .col-5, .col-pc-5, .col-tab-5, .col-sp-5, .col-6, .col-pc-6, .col-tab-6, .col-sp-6, .col-7, .col-pc-7, .col-tab-7, .col-sp-7, .col-8, .col-pc-8, .col-tab-8, .col-sp-8, .col-9, .col-pc-9, .col-tab-9, .col-sp-9, .col-10, .col-pc-10, .col-tab-10, .col-sp-10, .col-11, .col-pc-11, .col-tab-11, .col-sp-11, .col-12, .col-pc-12, .col-tab-12, .col-sp-12, .col-1by5, .col-pc-1by5, .col-tab-1by5, .col-sp-1by5, .col-2by5, .col-pc-2by5, .col-tab-2by5, .col-sp-2by5, .col-3by5, .col-pc-3by5, .col-tab-3by5, .col-sp-3by5, .col-4by5, .col-pc-4by5, .col-tab-4by5, .col-sp-4by5, .col-1by7, .col-pc-1by7, .col-tab-1by7, .col-sp-1by7, .col-2by7, .col-pc-2by7, .col-tab-2by7, .col-sp-2by7, .col-3by7, .col-pc-3by7, .col-tab-3by7, .col-sp-3by7, .col-4by7, .col-pc-4by7, .col-tab-4by7, .col-sp-4by7, .col-5by7, .col-pc-5by7, .col-tab-5by7, .col-sp-5by7, .col-6by7, .col-pc-6by7, .col-tab-6by7, .col-sp-6by7 {
  float: left;
  margin: 0 0.5% 20px;
}

.col-1r, .col-pc-1r, .col-tab-1r, .col-sp-1r, .col-2r, .col-pc-2r, .col-tab-2r, .col-sp-2r, .col-3r, .col-pc-3r, .col-tab-3r, .col-sp-3r, .col-4r, .col-pc-4r, .col-tab-4r, .col-sp-4r, .col-5r, .col-pc-5r, .col-tab-5r, .col-sp-5r, .col-6r, .col-pc-6r, .col-tab-6r, .col-sp-6r, .col-7r, .col-pc-7r, .col-tab-7r, .col-sp-7r, .col-8r, .col-pc-8r, .col-tab-8r, .col-sp-8r, .col-9r, .col-pc-9r, .col-tab-9r, .col-sp-9r, .col-10r, .col-pc-10r, .col-tab-10r, .col-sp-10r, .col-11r, .col-pc-11r, .col-tab-11r, .col-sp-11r, .col-12r, .col-pc-12r, .col-tab-12r, .col-sp-12r, .col-1by5r, .col-pc-1by5r, .col-tab-1by5r, .col-sp-1by5r, .col-2by5r, .col-pc-2by5r, .col-tab-2by5r, .col-sp-2by5r, .col-3by5r, .col-pc-3by5r, .col-tab-3by5r, .col-sp-3by5r, .col-4by5r, .col-pc-4by5r, .col-tab-4by5r, .col-sp-4by5r, .col-1by7r, .col-pc-1by7r, .col-tab-1by7r, .col-sp-1by7r, .col-2by7r, .col-pc-2by7r, .col-tab-2by7r, .col-sp-2by7r, .col-3by7r, .col-pc-3by7r, .col-tab-3by7r, .col-sp-3by7r, .col-4by7r, .col-pc-4by7r, .col-tab-4by7r, .col-sp-4by7r, .col-5by7r, .col-pc-5by7r, .col-tab-5by7r, .col-sp-5by7r, .col-6by7r, .col-pc-6by7r, .col-tab-6by7r, .col-sp-6by7r {
  float: right;
  margin: 0 0.5% 20px;
}

.col-1, .col-pc-1, .col-tab-1, .col-sp-1,
.col-1r, .col-pc-1r, .col-tab-1r, .col-sp-1r {
  width: 7.33333%;
}

.col-2, .col-pc-2, .col-tab-2, .col-sp-2,
.col-2r, .col-pc-2r, .col-tab-2r, .col-sp-2r {
  width: 15.66667%;
}

.col-3, .col-pc-3, .col-tab-3, .col-sp-3,
.col-3r, .col-pc-3r, .col-tab-3r, .col-sp-3r {
  width: 24%;
}

.col-4, .col-pc-4, .col-tab-4, .col-sp-4,
.col-4r, .col-pc-4r, .col-tab-4r, .col-sp-4r {
  width: 32.33333%;
}

.col-5, .col-pc-5, .col-tab-5, .col-sp-5,
.col-5r, .col-pc-5r, .col-tab-5r, .col-sp-5r {
  width: 40.66667%;
}

.col-6, .col-pc-6, .col-tab-6, .col-sp-6,
.col-6r, .col-pc-6r, .col-tab-6r, .col-sp-6r {
  width: 49%;
}

.col-7, .col-pc-7, .col-tab-7, .col-sp-7,
.col-7r, .col-pc-7r, .col-tab-7r, .col-sp-7r {
  width: 57.33333%;
}

.col-8, .col-pc-8, .col-tab-8, .col-sp-8,
.col-8r, .col-pc-8r, .col-tab-8r, .col-sp-8r {
  width: 65.66667%;
}

.col-9, .col-pc-9, .col-tab-9, .col-sp-9,
.col-9r, .col-pc-9r, .col-tab-9r, .col-sp-9r {
  width: 74%;
}

.col-10, .col-pc-10, .col-tab-10, .col-sp-10,
.col-10r, .col-pc-10r, .col-tab-10r, .col-sp-10r {
  width: 82.33333%;
}

.col-11, .col-pc-11, .col-tab-11, .col-sp-11,
.col-11r, .col-pc-11r, .col-tab-11r, .col-sp-11r {
  width: 90.66667%;
}

.col-12, .col-pc-12, .col-tab-12, .col-sp-12,
.col-12r, .col-pc-12r, .col-tab-12r, .col-sp-12r {
  width: 99%;
}

.col-1by5, .col-pc-1by5, .col-tab-1by5, .col-sp-1by5,
.col-1by5r, .col-pc-1by5r, .col-tab-1by5r, .col-sp-1by5r {
  width: 19%;
}

.col-2by5, .col-pc-2by5, .col-tab-2by5, .col-sp-2by5,
.col-2by5r, .col-pc-2by5r, .col-tab-2by5r, .col-sp-2by5r {
  width: 39%;
}

.col-3by5, .col-pc-3by5, .col-tab-3by5, .col-sp-3by5,
.col-3by5r, .col-pc-3by5r, .col-tab-3by5r, .col-sp-3by5r {
  width: 59%;
}

.col-4by5, .col-pc-4by5, .col-tab-4by5, .col-sp-4by5,
.col-4by5r, .col-pc-4by5r, .col-tab-4by5r, .col-sp-4by5r {
  width: 79%;
}

.col-1by7, .col-pc-1by7, .col-tab-1by7, .col-sp-1by7,
.col-1by7r, .col-pc-1by7r, .col-tab-1by7r, .col-sp-1by7r {
  width: 13.28571%;
}

.col-2by7, .col-pc-2by7, .col-tab-2by7, .col-sp-2by7,
.col-2by7r, .col-pc-2by7r, .col-tab-2by7r, .col-sp-2by7r {
  width: 27.57143%;
}

.col-3by7, .col-pc-3by7, .col-tab-3by7, .col-sp-3by7,
.col-3by7r, .col-pc-3by7r, .col-tab-3by7r, .col-sp-3by7r {
  width: 41.85714%;
}

.col-4by7, .col-pc-4by7, .col-tab-4by7, .col-sp-4by7,
.col-4by7r, .col-pc-4by7r, .col-tab-4by7r, .col-sp-4by7r {
  width: 56.14286%;
}

.col-5by7, .col-pc-5by7, .col-tab-5by7, .col-sp-5by7,
.col-5by7r, .col-pc-5by7r, .col-tab-5by7r, .col-sp-5by7r {
  width: 70.42857%;
}

.col-6by7, .col-pc-6by7, .col-tab-6by7, .col-sp-6by7,
.col-6by7r, .col-pc-6by7r, .col-tab-6by7r, .col-sp-6by7r {
  width: 84.71429%;
}

/* component patch */
.breadcrumb li:after {
  content: ">";
  margin-left: 0.5em;
}

.breadcrumb li:last-child:after {
  content: " ";
  margin-left: 0.5em;
}

/* decoration patch */
.gnav li {
  width: 100%;
  height: auto;
  background-color: #FFB76E;
  border-bottom: 1px solid #9C590B;
  border-right: 1px solid #9C590B;
}

.gnav a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #FFB76E;
  color: #333;
  line-height: 1;
  padding: 5px 3px;
}
