@charset "utf-8";
@import "_parameter";

.wp-caption {
   text-align: center;
   margin: $margin_sp_row $margin_sp_col;
   max-width: 100%;
    &::after {
        @include clearfix;
    }
    .alignleft, alignright {
        max-width: 100%;
    }
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 14px;
   line-height: 1.3;
   padding: 2px 4px 5px;
   margin: 0;
}

.categories {
}
.cat-item {
}
.current-cat {
}
.current-cat-parent {
}
.children {
}
.pagenav {
}
.page_item {
}
.current_page_item {
}
.current_page_parent {
}
.current_page_ancestor {
}
.widget {
}
.widget_text {
}
.blogroll {
}
.linkcat{
}
