@charset "utf-8";
@import "_parameter";
/* style base */
body {
	margin: 0;
	padding: 0;
	line-height: $line_height;
	font-family: $font_sanserif;
	font-size: $font_size;
	word-wrap: break-word;
}

section {
	clear: both;
	padding-top: 10px;
}

code {
	overflow-x: scroll;
	font-size: $font_small;
	font-family: $font_code;
	white-space: pre;
}

// h1 to h6 common style
%headingbase {
	margin: 0;
	padding: 0;
	clear: both;
}

@for $i from 1 through 6 {
	h#{$i} {
		@extend %headingbase;
	}
}


h1 {
	font-size: 2.6rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 1rem;
}

blockquote {
	margin: 10px;
	padding: 10px;
	border-left: $color_textdisable 4px solid;
	color: $color_textlight;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.table-fix {
	table-layout: fixed;
}

thead {
	background-color: $color_main;
}

th, td {
	border: 1px solid $color_textlight;
	padding: 0 3px;
	empty-cells: show;
}

ul, ol {
	padding-left: 2em;
}

p {
	margin: 0;
	padding: 0;
}

a {
	&:link, &:visited{
		color: $color_link;
		text-decoration: none;
	}
	&:hover, &:active {
		opacity: $a_opacity;
		-ms-filter: "#{$a_filter}";
		border-bottom: 1px dashed;
	}
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
	padding-top: (($line_height - 1)/2) + em;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 $margin_sp_col 0 0;
}

.alignright {
	float: right;
	margin: 0 0 0 $margin_sp_col;
}


@media screen and (min-width:$tab) {
	img.alignleft, img.alignright {
		max-width: 50%;
	}
}

//　要素のあとに改行を入れるクラス　br
.br {
	float: none;
	display: block;
	margin: 0;
	&::after {
		content: "\A";
		white-space: pre;
	}
}

nav, nav ul, nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

@media screen and (max-width:$tabmax) {
//　tabサイズで画像の回り込みを解消するクラス　br-tab
	.alignleft.br-tab, .alignright.br-tab {
		float: none;
		display: block;
		max-width: 100%;
		margin: 0;
		&::after {
			content: "\A";
			white-space: pre;
		}
	}
//  tabサイズで中央配置にする　tab-center
	.tab-center, img.alignleft.tab-center, img.alignright.tab-center {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width:$sp) {
//　spサイズで画像の回り込みを解消する。（デフォルト設定）
	img.alignleft, img.alignright {
		float: none;
		display: block;
		margin: 0;
		position: relative;
		right: 0;
		&::after {
			content: "\A";
			white-space: pre;
		}
	}
//　spサイズでも画像の最大幅を50%にして、回り込みを有効にするクラス　br-no
	img.alignleft.br-no {
		float: left;
		display: inline;
		max-width: 50%;
		margin: 0  $margin_sp_col 0 0;
		&::after {
			content: "";
			white-space: pre;
		}
	}
	img.alignright.br-no {
		float: right;
		display: inline;
		max-width: 50%;
		margin: 0 0 0  $margin_sp_col;
		&::after {
			content: "";
			white-space: pre;
		}
	}
//  spサイズで中央配置にする　sp-center
	.sp-center, img.alignleft.sp-center, img.alignright.sp-center {
		display: block;
		margin: 0 auto;
	}
}

.container {
	width: 100%;
	max-width: $container;
	margin: 0 auto;
}

@media screen and (max-width:$container) {
	.container {
		padding: 0 5px;
	}
}

.clear {
	clear: both;
}

.clearfix {
	@include clearfix;
}

.list-style-none {
	list-style: none;
	padding: 0;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.textcenter {
	text-align: center;
}

.textjustyfy {
	text-align: justify;
}

.caption {
	max-width: 100%;
	box-sizing: content-box;
	line-height: 1.2;
	display: block;
	margin-bottom: $margin_sp_row;
}

.caption-img {
	display: inline-block;
	max-width: 100%;
}

.caption-img > img {
	max-width: 100%;
}

.caption-text {
	display: inline;
   font-size: 14px;
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

.middle-container {
	display: table;
}

.middle-item {
	display: table-cell;
	vertical-align: middle;
}
// display control
.tab, .pc {
	display: none;
}
.sp {
	display: block;
}
@media screen and (min-width:$tab) {
	.sp {
		display: none;
	}
	.tab {
		display: block;
	}
	.tab-none, .tab-none * {
		display: none!important;
	}
}

@media screen and (min-width:$pc) {
	.tab {
		display: none;
	}
	.pc {
		display: block;
	}
	.pc-none, .pc-none * {
		display: none!important;
	}
}


$mgn: 5;
@while $mgn <=20 {
	.mt#{$mgn} {
		margin-top: #{$mgn}px;
	}
	.mb#{$mgn} {
		margin-bottom: #{$mgn}px;
	}
	$mgn: $mgn + 5;
}
$mgnl: 30;
@while $mgnl <=60 {
	.mt-#{$mgnl} {
		margin-top: #{$mgnl}px;
	}
	.mb-#{$mgnl} {
		margin-bottom: #{$mgnl}px;
	}
	$mgnl: $mgnl + 10;
}