@charset "utf-8";
@import "_parameter";
/* decoration css */
.border {
	border: $color_textlight 1px solid;
	padding: 10px;
}

.shadow {
	box-shadow: $color_textlight 1px 1px 1px;
}

.gnav li {
	width: 100%;
	border-bottom: 1px solid $color-accent;
	background-color: $color-main;
	text-align: center;
	vertical-align: middle;
    align-items: center;
	&:not(:last-child) {
		border-right: 1px solid $color-accent;
	}
}

.gnav a {
	display: block;
	width: 100%;
	height: 100%;
    align-items: center;
	background-color: $color-main;
	color: $color-text;
	line-height: 1;
	padding: 5px 3px;
}

.gnav a:hover, .gnav a:active {
	text-decoration: none;
	border: none;
}