@charset "utf-8";
@import "_parameter";
.wp-caption p.wp-caption-text {
   font-size: 14px;
   line-height: 1.3;
   margin: 0;
}

.wp-caption {
   max-width: 100%;
	margin-bottom: 5px;
    &::after {
        @include clearfix;
    }
    .alignleft, .alignright, .aligncenter {
        max-width: 100%;
		display: inline;
    }
}

.wp-caption img {
   margin: 5px auto 0;
   padding: 0;
   border: 0 none;
}
.categories {
}
.cat-item {
}
.current-cat {
}
.current-cat-parent {
}
.children {
}
.pagenav {
}
.page_item {
}
.current_page_item {
}
.current_page_parent {
}
.current_page_ancestor {
}
.widget {
}
.widget_text {
}
.blogroll {
}
.linkcat{
}
